.title{
  text-align: center;
  padding:10px;
  background: cyan;
  margin-bottom: 20px;
}

.container{
  width:100%;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
span:nth-child(1){
  display: inline-block;
  padding-left: 30px;
  width:20%;
 
 
}

span:nth-child(2){
  display: inline-block;
  
  padding-left: 30px;
  
  width:30%;
}
span:nth-child(3){
  display: inline-block;
  
  padding-left: 30px;
  
  width:30%;
  text-align: center;
}
span:nth-child(4){
  display: inline-block;
  
  padding-left: 30px;
   width:20%;
}

.edit{
 margin-left: 20px;
 width:60px;
 border:none;
 outline: none;
 background-color: white;
}
.delete{
  margin-left: 20px;
  width:60px;
  border:none;
 outline: none;
 background-color: white;
 border:1px solid whitesmoke
}
.createtask{
border:none;
outline:none;
padding:5px;
background: white;
box-shadow: 2px 2px 2px whitesmoke,4px 4px 4px whitesmoke,-2px -2px 2px whitesmoke,-4px -4px 4px whitesmoke;
margin-bottom: 20px;
}
input,textarea{
  text-transform:capitalize;
}